RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.

# RewriteBase /

RewriteCond %{HTTP_HOST} ^www.ranyuen\.com
RewriteRule ^(.*)$ https://ranyuen.com/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://ranyuen.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

Redirect permanent /columns/agriculture_with_a_dream/new_volunteer https://ranyuen.com/columns/view_from_the_sky/new_volunteer
Redirect permanent /columns/agriculture_with_a_dream/terrible_status_quo https://ranyuen.com/columns/view_from_the_sky/terrible_status_quo