@charset "utf-8";
@import "helpers";

article h1 {
  background-image: url(/assets/images/icons/ebine_icon.gif);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  line-height: 70px;
  padding-left: 35px;
  padding-top: 3px;
  // text-shadow: 2px 2px 1px #fff, -2px 2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff;
  text-shadow: 3px 3px 1px #fff, -3px 3px 1px #fff, 3px -3px 1px #fff, -3px -3px 1px #fff, 3px 0 1px #fff, 0 3px 1px #fff, -3px 0 #fff, 0 -3px 1px #fff;
}
