@charset "utf-8";
@import "helpers";

.columns {
  -moz-display: flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;

  .columns_column {
    margin: 0 auto;

    .columns_column_title {
      letter-spacing: 1px;
      margin: 0;
      padding: 5px 0;
      text-indent: 0;

      a {
        border-radius: 5px;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.5) inset;
        color: #fff;
        display: block;
        margin: 0 auto;
        padding: 4px;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        width: 100% - 4px;

        &:hover {
          filter:alpha(opacity=50);
          -moz-opacity: 0.5;
          opacity: 0.5;
        }
      }
    }
  }
}

@media screen and (min-width: @width-phone) {
  .columns {
    -moz-flex-direction: row;
    flex-direction: row;
  }
}