@charset 'utf-8';
@import 'helpers';

article h1 {
  line-height: 70px;
  padding-top: 3px;
  padding-left: 35px;
  background-image: url(/assets/images/icons/cymbidium_icon.gif);
  background-repeat: no-repeat;
  background-size: 70px 70px;
  text-shadow: 3px 3px 1px #ffffff, -3px 3px 1px #ffffff, 3px -3px 1px #ffffff, -3px -3px 1px #ffffff, 3px 0 1px #ffffff, 0 3px 1px #ffffff, -3px 0 1px #ffffff, 0 -3px 1px #ffffff;
}
