.foldnav {
  ul, li {
    display : block;
    margin  : 0 auto;
    padding : 0;
  }

.foldnav_item {
  ul {
    & > .foldnav_item {
      a {
        border-bottom: none;
        text-indent : 1em;
      }
      & > a:before {
        padding-right: 5px;
      }
    }
  }
}

  a {
    display         : block ;
    text-decoration : none;
  }

  &_item {
    &-isClose {
      & > a:before {
        content : ' \25bc';
        padding-right: 5px;
      }

      ul { display : none; }
    }

    &-isOpen {
      & > a:before {
       content : ' \25b2';
       padding-right: 5px;
     }

      ul { display : block; }
    }
  }
}

