@charset "UTF-8";
@import "base";
@import "helpers";
@import "foldNav";
@import "color";

@header-footer-bg: url("/assets/images/header_footer_background_6.jpg");
@header-footer-radius: 8px;
@gradient_light: #ffffff;
@gradient_shade: #C8FFD9;
@shadow: #43369f;
@gradient_light2: #9aff9b;
@gradient_shade2: #25a34a;
@shadow2: #9a9d9f;
@separated_line_color: #999;

.header {
  background: @header-footer-bg;
  background-size: 100% 100%;
  border-bottom: 1px solid @separated_line_color;
}

#sidenav {
  font-size: 14px;
  border: solid  1px #b8c5d6;
  margin: 2% 0;

  @side-nav-color: #020202;
  .foldnav_item {
    a {
      padding: 10px 2%;
      border-bottom: solid 1px #e3e5ff;
      background: none;
    }
    &:not(.nav-item-home) {
      a {
        color: @side-nav-color;
      }
    }
    &_home {
      font-size: larger;
      border-top: dotted 2px @side-nav-color;
      a {
        color: inherit;
      }
    }
    &.parent a {
      padding: 11px 2% 11px 7px;
      color: #ffffff;
      border: none;
      background: #C297FF;
    }
    .activate {
      background: #F0DEFF;
    }
  }
}

.main {
  min-width: 320px;
  max-width: @width-tablet;
  margin: 0 auto 0;
  padding: 1px 2%;
  background: @bg-white;

  .cf;
  article {
    margin-right: 5%;
    margin-left: 5%;
    h1, h2, p {
      margin: 16px 0;
    }
    h2 {
      margin-top: 30px;
      padding: 0 0 3px 8px;
      border-bottom: solid 2px #cdf6dc;
      border-left: solid 10px #cdf6dc;
    }
    h3 {
      padding: 0 0 3px 10px;
      border-bottom: dotted 2px #cdf6dc;
    }
    p {
      a {
        &.facebook {
          .social-icon("/assets/images/icons/f_b_icon.png", rgb(59, 91, 153));
        }
        &.youtube {
          .social-icon("/assets/images/icons/yt_icon.png", rgb(229, 26, 39));
        }
        &.instagram {
          .social-icon("/assets/images/icons/ig_icon.png", rgb(244, 241, 66));
        }
      }
    }
    #tab {
      list-style: none;
      margin-bottom: 50px;
      li {
        float: left;
        width: 25%;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0;
        background: #abdaaa;
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
          text-decoration: none;
          color: white;
        }
        &.selected {
          background: #47896d;
        }
      }
    }
    #growingCalanthe {
      .cf;
      #bottom-box {
        width: 100%;
        height: 10px;
        margin-top: 65px;
        background: #47896d;
      }
    }
    .supplement {
      font-size: 14px;
      width: 90%;
      margin: 20px auto;
      padding: 15px;
      border: solid 1px #c1bebb;
      h1 {
        font-size: 20px;
      }
    }
    #info {
      width: 100%;
      margin: 50px 0;
      border: solid 1px #c6c3c3;
      header {
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 0 0 0 0;
        background: #a9a1de;
        h1 {
          font-size: 20px;
          margin: 3px;
        }
      }
      article {
        border-top: 1px #c0c0c0 dotted;
        h1 {
          font-size: 14px;
          display: inline-block;
          margin: 5px 0;
        }
        p {
          display: inline-block;
          width: 80px;
          margin: 5px 0;
          img {
            width: 100%;
          }
        }
        .new {
          font-size: 14px;
          width: 50px;
          text-align: center;
          color: #eb3250;
        }
      }
    }
  }
  #search-form, #search-form-color {
    select {
      width: 100%;
      min-width: 200px;
      margin: 20px 0 20px 0;
      padding: 10px;
      border: 1px solid #999999;
      background: #eeeeee;
      background: url(/assets/images/arrow.png) right 50% no-repeat, -webkit-linear-gradient(top, @gradient_light 0%, @gradient_shade 100%);
      background: url(/assets/images/arrow.png) right 50% no-repeat, linear-gradient(to bottom, @gradient_light 0%, @gradient_shade 100%);
      background-position: right 20px bottom 50%;
      background-size: 20px, 100%;
      color: #727376;

      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
  }
  .breadcrumb {
    font-size: smaller;
    margin-right: 5%;
    margin-bottom: 0.8em;
    margin-left: 5%;

    .cf;
    .nav-item {
      float: left;
      a {
        text-decoration: none;
      }
      &:after {
        content: " > ";
      }
      &:last-child {
        a {
          color: inherit;
        }
      }
    }
  }
}

.youtube-block {
  width: 600px;
  max-width: 100%;
  margin: 20px auto;
  .widget-youtube {
    position: relative;
    overflow: hidden;
    height: 0;
    margin: 20px auto;
    padding-top: 30px;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/********************
* campaign button CSS
********************/
.campaign-btn {
  display: inline-block;
  width: 110px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  line-height: 30px;
  outline: none;
}
.campaign-btn::before,
.campaign-btn::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.campaign-btn,
.campaign-btn::before,
.campaign-btn::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.campaign-btn {
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
}
.campaign-btn:hover {
  color: #fff;
  background-color: #ace82c;
  border: solid 1px;
}

footer {
  padding: 10px 2%;
  background: @header-footer-bg;
  border-top: 1px solid @separated_line_color;

  .cf;
  .footer-inner {
    width: 90%;
    min-width: 320px;
    max-width: @width-tablet;
    margin: 0 auto;
  }
  .footer-icons {
    margin-right: .3rem;
  }
  p {
    font-size: 13px;
    text-align: center;
  }
}

/*********************
* flex class
*********************/
.flex {
  display: -webkit-flex;
  display: flex;
}
.flex_reverse {
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  padding: 3px;
  width: 100%;
}

/*********************
* mobile&tablet view
*********************/
@media screen and (max-width: @width-phone) {
  .flex {
    flex-direction: column;
  }
  .flex_reverse {
    flex-direction: column-reverse;
  }
  #top-image {
    margin: 0 -8%;
  }
  .icons ,
  .lang {
    display: none;
  }
}

/*********************
* wide PC view
*********************/
@media screen and (min-width : @width-tablet) {
  .main {
    .main-inner {
      float: right;
      width: 81%;
    }
    #search-form, #search-form-color {
      select {
        float: left;
        margin-right: 20px;
        width: 45%;
        .cf;
      }
    }
    #sidenav {
      float: left;
      width: 18.5%;
    }
  }
}

/*
 * menu
 */

/* inner */
.inner {
  margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}

/* header */
#top-head {
  width: 100%;
  margin: 0 auto;
  line-height: 1;
  z-index: 999;
}
#top-head .inner {
  position: relative;
}

/* logo */
#top-head .logo {
  width: 3.8em;
  margin: 0 .3em .3em .3em;
  a {
    margin-left: 6%;
  }
  a, img {
    max-width: 3.5em;
  }
}

#global-nav ul {
  white-space: nowrap;
  list-style-type: none;
  li {
    a {
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center; /* Safari */
      align-items: center;
      -webkit-justify-content: center; /* Safari */
      justify-content: center;
      height: 100%;
      background: #a9a1de;
      padding: .2em .5em;
      font-size: 17px;
      color: #fff;
      border: solid 1px;
      text-decoration: none;
      &:hover {
        opacity: .7;
      }
    }
  }
}

/* Toggle Button */
#nav-toggle {
  display: none;
  position: absolute;
  right: 12px;
  top: 14px;
  height: 40px;
  width: 34px;
  cursor: pointer;
  z-index: 101;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #666;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

/*********************
* wide PC view
*********************/
@media screen and (min-width: @width-phone) {
  #global-nav ul {
    margin: 0 auto;
    max-width: @width-tablet;
    height: 8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
      height: 4rem;
      display: flex;
      overflow: hidden;
      a {
        width: 100%;
      }
    }
  }
  #mobile-head {
    position: relative;
    height: 66px;
    max-width: @width-tablet;
    margin: 0 auto;
    .lang {
      position: absolute;
      top: 16px;
      right: 10%;
      font-size: 12px;
    }
    .icons {
      position: absolute;
      top: 12px;
      right: 22%;
      p {
       display: inline-block;
       border-radius: 8px;
      }
      p.sitemap-icon {
        width: 50%;
        height: 50%;
      }
      p:hover {
        opacity: 0.6;
      }
    }
  }
}

/*********************
* mobile&tablet view
*********************/
@media screen and (max-width: @width-phone) {
  .main {
    margin-top: 50px;
  }
  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }
  #top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
  }
  #top-head.fixed {
    padding-top: 0;
    background: transparent;
  }
  #mobile-head {
    background: @bg-white;
    width: 100%;
    height: 5em;
    max-height: 60px;
    z-index: 999;
    position: relative;
  }
  #top-head.fixed .logo,
  #top-head .logo {
    position: absolute;
    left: 0;
    top: 0;
    color: #333;
    font-size: 26px;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  #global-nav {
    position: absolute;
    top: -500px;
    background: @bg-white;
    width: 100%;
    text-align: center;
    padding: 10px 0 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 16px 0;
  }
  #nav-toggle p#nav-font{
    font-weight: bold;
    font-size: 11px;
  }
  #nav-toggle {
    display: block;
  }

  /* #nav-toggle animation */
  .open #nav-toggle span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }

  /* #global-nav slide */
  .open #global-nav {
    -moz-transform: translateY(550px);
    -webkit-transform: translateY(550px);
    transform: translateY(550px);
  }
}