@charset "UTF-8";
@import "base";
@import "helpers";
@import "foldNav";

@max-width: 1280px;
@header-footer-bg: url("/assets/images/header_footer_background_6.jpg");
@header-footer-radius: 8px;
@gradient_light: #ffffff;
@gradient_shade: #ffe8e0;
@shadow: #43369f;
@gradient_light2: #9aff9b;
@gradient_shade2: #25a34a;
@shadow2: #9a9d9f;

.header {
  background: @header-footer-bg;
  background-size: 100% 100%;
  border-bottom: 2px solid #451360;

  .cf;
  paddint: 6px 0;
  .header-inner {
    width: 98%;
    min-width: 320px;
    margin: 0 auto;
    padding: 2px;

    .cf;
    .logo {
      float: left;
      width: 58% / 98% * 100%;
      h1 {
        margin: 0;
      }
    }
    .linkicon {
      float: left;
      width: 40% / 98% * 100%;
      .lang {
        font-size: 12px;
        line-height: 25px;
        height: 25px;
        margin-top: 10px;
        text-align: center;
      }
      .icons {
        margin-top: 10px;

        .cf;
        .icon {
          font-size: 12px;
          line-height: 25px;
          float: left;
          float: right;
          width: 30% / 98% * 100%;
          height: 25px;
          p {
            width: 25px;
            height: 25px;
            margin: 0 auto;
          }
        }
      }
      .linksitemap {
        line-height: 30px;
        height: 30px;
        margin-top: 25px;
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .header {
    .header-inner {
      .logo {
        float: left;
        width: 78% / 98% * 100%;
      }
      .linkicon {
        float: left;
        width: 20% / 98% * 100%;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .header {
    .header-inner {
      max-width: 1280px;
      .logo {
        float: left;
        width: 83% / 98% * 100%;
      }
      .linkicon {
        float: left;
        width: 15% / 98% * 100%;
        .lang {
          text-align: right;
        }
        .icons {
          .icon {
            p {
              margin-right: 0;
              margin-left: auto;
            }
          }
        }
        .linksitemap {
          text-align: right;
        }
      }
    }
  }
}

@nav-items_width: 98%;
@nav-item_background: #C6C1FF;
@nav-item_background_gradient1: #94B4FF;
@nav-item_background_gradient2: #B3B4FF;

.nav {
  padding: 6px 0 15px;
  .nav-items {
    width: @nav-items_width;
    min-width: 320px;
    margin: 0 auto;
    list-style: none;

    .cf;
    .nav-item {
      font-size: 16px;
      line-height: 50px;
      height: 50px;
      margin-top: 4px;
      text-align: center;
      border-radius: 2px;
      background: @nav-item_background;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
      > a {
        display: block;
        text-decoration: none;
        color: #FFF;
        font-weight: bold;
      }
      .activate {
        color: #ffffff;
        border-radius: 2px;
        background: #A463FF;
      }
      &:hover {
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .nav {
    .nav-items {
      .nav-item {
        float: left;
        width: 49% / @nav-items_width * 100%;
        &:first-child {
          width: 98% / @nav-items_width * 100%;
        }
        &:nth-child(2n) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          box-sizing: border-box;
          border-right: 1px solid #FFF;
        }
        &:nth-child(3), &:nth-child(5), &:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .nav {
    .nav-items {
      max-width: 1280px;
      .nav-item {
        width: 14% / @nav-items_width * 100%;
        margin-top: 0;
        box-sizing: border-box;
        border-right: 1px solid #FFF;
        &:first-child {
          width: 14% / @nav-items_width * 100%;
          border-radius: 2px 0 0 2px;
        }
        &:nth-child(2n) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        &:nth-child(3), &:nth-child(5), &:last-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        &:last-child {
          border: none;
          border-radius: 0 2px 2px 0;
        }
      }
    }
  }
}

#sidenav {
  font-size: 14px;
  border: solid  1px #b8c5d6;

  @side-nav-color: #020202;
  .foldnav_item {
    a {
      margin: 0 0 3px 0;
      padding: 8px 2%;
      border-bottom: solid 1px #e3e5ff;
      background: none;
    }
    &:not(.nav-item-home) {
      a {
        color: @side-nav-color;
      }
    }
    &_home {
      font-size: larger;
      border-top: dotted 2px @side-nav-color;
      a {
        color: inherit;
      }
    }
    &.parent a {
      padding: 11px 2% 11px 7px;
      color: #ffffff;
      border: none;
      // background: #ffaecf;
      background: #C297FF;
    }
  }
}

.main {
  width: 90%;
  min-width: 320px;
  max-width: @max-width;
  margin: 0 auto;
  padding: 20px 2%;
  background: #fbfaf5;

  .cf;
  h1 {
    margin-top: 32px;
  }
  article {
    margin-right: 5%;
    margin-left: 5%;
    h1, h2, p {
      margin: 16px 0;
    }
    h2 {
      margin-top: 30px;
      padding: 0 0 3px 8px;
      border-bottom: solid 2px #cdf6dc;
      border-left: solid 10px #cdf6dc;
    }
    h3 {
      padding: 0 0 3px 10px;
      border-bottom: dotted 2px #cdf6dc;
    }
    p {
      a {
        &.facebook {
          .social-icon("/assets/images/icons/f_b_icon.png", rgb(59, 91, 153));
        }
        &.youtube {
          .social-icon("/assets/images/icons/yt_icon.png", rgb(229, 26, 39));
        }
      }
    }
    #tab {
      list-style: none;
      li {
        float: left;
        width: 23%;
        margin-right: 1%;
        margin-bottom: 0;
        background: #abdaaa;
        a {
          display: inline-block;
          width: 100%;
          text-align: center;
          text-decoration: none;
          color: white;
        }
        &.selected {
          background: #47896d;
        }
      }
    }
    #growingCalanthe {
      .cf;
      #bottom-box {
        width: 100%;
        height: 8px;
        background: #47896d;
      }
    }
    .supplement {
      font-size: 14px;
      width: 90%;
      margin: 20px auto;
      padding: 15px;
      border: solid 1px #c1bebb;
      h1 {
        font-size: 20px;
      }
    }
    #info {
      width: 100%;
      margin: 50px 0;
      border: solid 1px #c6c3c3;
      header {
        padding: 5px 10px;
        color: #ffffff;
        border-radius: 0 0 0 0;
        background: #a9a1de;
        h1 {
          font-size: 20px;
          margin: 3px;
        }
      }
      article {
        border-top: 1px #c0c0c0 dotted;
        h1 {
          font-size: 14px;
          display: inline-block;
          width: 60%;
          margin: 5px 0;
        }
        p {
          display: inline-block;
          width: 80px;
          margin: 5px 0;
          img {
            width: 100%;
          }
        }
        .new {
          font-size: 14px;
          width: 50px;
          text-align: center;
          color: #eb3250;
        }
      }
    }
  }
  #search-form {
    select {
      width: 100%;
      min-width: 200px;
      margin: 20px 0 20px 0;
      padding: 10px;
      border: 1px solid #999999;
      background: #eeeeee;
      background: url(/assets/images/arrow.png) right 50% no-repeat, -webkit-linear-gradient(top, @gradient_light 0%, @gradient_shade 100%);
      background: url(/assets/images/arrow.png) right 50% no-repeat, linear-gradient(to bottom, @gradient_light 0%, @gradient_shade 100%);
      background-position: right 20px bottom 50%;
      background-size: 20px, 100%;

      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }
  }
  .fixed {
    position: fixed;
    z-index: 10000;
    top: -10px;
    width: 300px;
  }
  .breadcrumb {
    font-size: smaller;
    margin-right: 5%;
    margin-bottom: 0.8em;
    margin-left: 5%;

    .cf;
    .nav-item {
      float: left;
      a {
        text-decoration: none;
      }
      &:after {
        content: " > ";
      }
      &:last-child {
        a {
          color: inherit;
        }
      }
    }
  }
}

.youtube-block {
  width: 600px;
  max-width: 100%;
  margin: 20px auto;
  .widget-youtube {
    position: relative;
    overflow: hidden;
    height: 0;
    margin: 20px auto;
    padding-top: 30px;
    padding-bottom: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  padding: 10px 2%;
  background: @header-footer-bg;
  border-top: 2px solid #451360;

  .cf;
  .footer-inner {
    width: 90%;
    min-width: 320px;
    max-width: @max-width;
    margin: 0 auto;
    // background: @header-footer-bg;
  }
  p {
    font-size: 13px;
    text-align: center;
    a {
      color: #ffffff;
    }
  }
}

@media screen and (min-width : @width-tablet) {
  .main {
    .main-inner {
      float: right;
      width: 81.3%;
    }
    #search-form {
      select {
        width: 600px;
      }
    }
    .fixed {
      position: fixed;
      z-index: 10000;
      top: -10px;
      width: 600px;
    }
    #sidenav {
      float: left;
      width: 18.5%;
      margin-top: 40px;
    }
  }
}
