@charset "UTF-8";
@import "base";
@import "helpers";
@import "foldNav";

@header-footer-bg     : url("/assets/images/header_footer_background.jpg");
@header-footer-radius : 8px;
@gradient_light : #ffffff;
@gradient_shade : #D6EDFF;
@shadow         : #43369F;
@gradient_light2 : #9AFF9B;
@gradient_shade2 : #25A34A;
@shadow2         : #9a9d9f;

.container {
  // background : #fbfaf5;
  // margin     : 0 auto;
  // min-width  : 320px;
  // max-width  : 1480px;
  // width      : 90%;
}

header {
  .cf;
  background    : @header-footer-bg;
  padding-top: 5px;

  .header-inner {
    .cf;
    background : @header-footer-bg;
    margin     : 0 auto;
    min-width  : 320px;
    max-width  : 1480px;
    width      : 90%;
    padding    : 2px;

    .logo {
      float : left;
      width : 54px;

      h1 {
        margin : 0;
        width  : 100%;
      }

      img { width : 54px; }
    }

    .lang {
      color: #FFFFFF;
      float       : right;
      font-size   : smaller;
      line-height : 54px;
      text-align  : right;
      width       : 120px;

      a { color : #7E9495; }
    }

    .link_icon {
      .cf;
      float : right;

      .fb_icon, .yt_icon {
        display     : inline-block;
        float       : left;
        height      : 24px;
        line-height : 54px;
        margin-left : 5px;
        width       : 24px;
      }
    }
  }

}

#globalnav {
  background : @header-footer-bg;
  margin     : 0 auto;
  min-width  : 320px;
  max-width  : 1480px;
  padding-bottom: 20px;
  width      : 80%;

  font-size   : 14px;

  a {
    border: none;
    color   : #000000;
    padding : 2px 0;
  }

  ul {
    .cf;
  }

  & > ul > .foldnav_item {
    background      : @gradient_shade;
    background      : -ms-linear-gradient(top, @gradient_light, @gradient_shade);
    background      : -moz-linear-gradient(top, @gradient_light 0%, @gradient_shade);
    background      : -webkit-gradient(linear, left top, left bottom, from(@gradient_light), to(@gradient_shade));
    background      : linear-gradient(to bottom, @gradient_light, @gradient_shade);
    background-size : 100% 100%;
    border-radius   : 4px;
    box-shadow      : 1px 1px 1px @shadow;
    float           : left;
    font-weight: normal;
    margin          : 0.1em 0.1em;
    min-width       : 100%;
    position        : relative;
    text-align      : center;
    width           : 100%;
  }

  .foldnav_item {
    &:hover {
      box-shadow : 1px 1px 1px @shadow inset;
    }

    a.activate {
      background: #FFAECF;
      // background      : @gradient_shade;
      // background      : -ms-linear-gradient(top, @gradient_light2, @gradient_shade2);
      // background      : -moz-linear-gradient(top, @gradient_light2 0%, @gradient_shade2);
      // background      : -webkit-gradient(linear, left top, left bottom, from(@gradient_light2), to(@gradient_shade2));
      // background      : linear-gradient(to bottom, @gradient_light2, @gradient_shade2);
      border-radius   : 4px;
      color: #FFFFFF;
    }

    &-hasSubmenu {
      & > a:after {
        border-left : 1px solid @gradient_shade;
        display     : block;
        float       : right;
        width       : 0.3em;
      }

      li { border-top : 1px solid @gradient_light; }
    }
  }
}

#sidenav {
  @side-nav-color : #020202;

  border: solid  1px #B8C5D6;
  font-size : 14px;
  // padding   : 40px 0 20px 0;
  // margin: 40px 0 20px 0;

  .foldnav_item {

    a {
      // box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
      background: none;
      border-bottom: solid 1px #E3E5FF;
      padding : 8px 2%;
      margin  : 0 0 3px 0;
    }

    &:not(.nav-item-home) {
      a {
        color : @side-nav-color;
      }
    }

    &_home {
      border-top : dotted 2px @side-nav-color;
      font-size  : larger;

      a { color : inherit; }
    }

    &.parent a {
      // background: #6DB6D6;
      background: #FFAECF;
      border: none;
      color: #FFFFFF;
      padding: 11px 2% 11px 7px;
    }
  }
}

.main {
  .cf;
  background : #fbfaf5;
  margin     : 0 auto;
  min-width  : 320px;
  max-width  : 1480px;
  padding : 20px 2%;
  width      : 90%;

  h1 { margin-top : 32px; }

  article {
    margin-left  : 5%;
    margin-right : 5%;

    h1, h2, p { margin : 16px 0; }

    h2 {
      border-bottom : solid 2px #cdf6dc;
      border-left   : solid 10px #cdf6dc;
      margin-top    : 30px;
      padding       : 0 0 3px 8px;
    }

    h3 {
      border-bottom : dotted 2px #cdf6dc;
      padding       : 0 0 3px 10px;
    }

    p {
      a {
        &.facebook { .social-icon('/assets/images/icons/f_b_icon.png', rgb(59, 91, 153)); }

        &.youtube { .social-icon('/assets/images/icons/yt_icon.png', rgb(229, 26, 39)); }
      }
    }

    #tab {
      list-style : none;

      li {
        background    : #abdaaa;
        float         : left;
        margin-bottom : 0;
        margin-right  : 1%;
        width         : 23%;

        a {
          color           : white;
          display         : inline-block;
          text-align      : center;
          text-decoration : none;
          width           : 100%;
        }

        &.selected {
          background : #47896d;
        }
      }
    }

    #growingCalanthe {
      .cf;

      #bottom-box {
        background : #47896d;
        height     : 8px;
        width      : 100%;
      }
    }

    .supplement {
      border    : solid 1px #c1bebb;
      font-size : 14px;
      margin    : 20px auto;
      padding   : 15px;
      width     : 90%;

      h1 { font-size : 20px; }
    }

    #info {
      border : solid 1px #c6c3c3;
      margin : 50px 0;
      width  : 100%;

      header {
        background    : #a9a1de;
        border-radius : 0 0 0 0;
        color         : #ffffff;
        padding       : 5px 10px;

        h1 {
          font-size : 20px;
          margin    : 3px;
        }
      }

      article {
        border-top : 1px #c0c0c0 dotted;

        h1 {
          display   : inline-block;
          font-size : 14px;
          margin    : 5px 0;
          width     : 60%;
        }

        p {
          display : inline-block;
          margin  : 5px 0;
          width   : 80px;

          img { width : 100%; }
        }

        .new {
          color      : #eb3250;
          font-size  : 14px;
          text-align : center;
          width      : 50px;
        }
      }
    }
  }

  .breadcrumb {
    .cf;
    font-size     : smaller;
    margin-bottom : 0.8em;
    margin-left   : 5%;
    margin-right  : 5%;

    .nav-item {
      float : left;

      a { text-decoration : none; }

      &:after { content : " > "; }

      &:last-child {
        a { color : inherit; }
      }
    }
  }
}

.youtube-block {
  margin    : 20px auto;
  max-width : 100%;
  width     : 600px;

  .widget-youtube {
    height         : 0;
    margin         : 20px auto;
    overflow       : hidden;
    padding-bottom : 56.25%;
    padding-top    : 30px;
    position       : relative;

    iframe {
      height   : 100%;
      left     : 0;
      position : absolute;
      top      : 0;
      width    : 100%;
    }
  }
}

footer {
  .cf;

  .footer-inner {
    background    : @header-footer-bg;
    margin     : 0 auto;
    min-width  : 320px;
    max-width  : 1480px;
    width      : 90%;
  }

  background    : @header-footer-bg;
  padding       : 10px 2%;

  p {
    font-size  : 13px;
    text-align : center;

    a { color : #FFFFFF; }
  }
}

@media screen and (min-width : @width-phone) {
  header {
    nav {
      .nav-item {
        float        : left;
        margin-right : 1%;
        width        : 49.5%;

        &:nth-child(2) {
          margin-right : 0;
          margin-top   : 0;
        }

        &:nth-child(4) { margin-right : 0; }
        &:nth-child(6) { margin-right : 0; }
      }
    }
    #globalnav {
      .foldnav_item {
        min-width: 10.8em;
        width: 45%;
      }
    }
  }
}

@media screen and (min-width : @width-tablet) {
  header {
    nav {
      .nav-item {
        float        : left;
        margin-top   : 0;
        margin-right : 2%;
        width        : 15%;

        &:nth-child(2) { margin-right : 2%; }
        &:nth-child(4) { margin-right : 2%; }
        &:nth-child(6) { margin-right : 0; }
      }
    }

    #globalnav {
      .foldnav_item {
        min-width: 12.4em;
        width: 14%;
      }
    }
  }

  .main {
    .main-inner {
      float : right;
      width: 81.3%;
    }

    #sidenav {
      float      : left;
      margin-top : 40px;
      width: 18.5%;
    }
  }
}


