@charset "utf-8";
@import "helpers";

.column {
  margin: 0;
  padding: 0;
  
  .column_section {
    margin: 0;
    padding: 15px;
    
    .column_section_title {
      border-left: 10px solid #CDF6DC;
      border-bottom: 2px solid #CDF6DC;
      margin: 0;
      padding: 5px;
    }

    .column_section_list {
      list-style: none;
      margin: 0;
      margin-top: 15px;
      padding: 0;
      
      .column_section_list_item {
        font-size: 20px;
        margin: 0;
        margin-top: 15px;
        padding: 5px;
        text-indent: 5px;
      }
    }
  }
}
