@charset "utf-8";
@import "helpers";

.column {
  margin: 0;
  padding: 0;

  .column_section_list {
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding: 0;

    .column_section_list_item {
      background: #79CDAA;
      border-bottom: 1px solid #1A430D;
      color: #FFFFFF;
      font-size: 15px;
      font-weight: bold;
      line-height: 50px;
      margin: 0;
      padding: 0 5px 0 20px;
      text-decoration: none;
      text-indent: 5px;

      &:hover {
        background: #65AD8F;
      }

      a {
        color: #FFFFFF;
        text-decoration: none;

        &:before {
          content: '●';
          padding-right: 10px;
        }
      }
    }
  }
}
