.q_box {
  margin: 0 0 70px 0;
}

.choices {
  margin: 15px 0 0 0;
}

.choice {
  display: inline-block;
}

.radio {
  display: none;
}

.radio .radio-icon {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  font-weight: 30px;
}

.radio-icon:before {
  content: "\f00c";
  color: #CCC;
  font-size: 30px;
}

.radio:checked + .radio-icon:before {
  content: "✔︎";
  color: #DE2434;
  font-size: 30px;
}

#examHeader {
  margin: 50px 0 40px 0;
  padding: 10px 10px;
  background: #AA94FF;

  #userName, #passWd {
    display: inline-block;
    width: 40%;
    min-width: 350px;
    padding: 10px 10px;
  }

  #t_userName, #t_passWd {
    border:0;
    border:solid 1px #ccc;
    width: 200px;
    floar: left;
  }
}

#timer {
  display: inline-block;
  width: 49%;
  margin: 80px 0 30px 0;
  min-width: 250px;
  text-align: right;
  float: right;
}

.links {
  margin-bottom: 50px;
  text-align: center;
}

#chk {
  background: #a463ff;
  border: 1px solid #DDD;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  width: 200px;
  padding: 10px 0;
}

.btn {
  background: #a463ff;
  border: 1px solid #DDD;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFF;
  width: 200px;
  padding: 10px 0;
}

#record {
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border: solid 2px #a463ff;
  display: none;
  padding: 20px 5px;
  margin-bottom: 50px;
}

.rank {
  width: 200px;
}

.thum {
  margin: 0;
  margin-right: 8px;
  // display: inline-block;
  // vertical-align: top;ß

  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;

  &:hover {
    filter: brightness(140%);
  }
}

.choice_img_w {
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.choice_img_h {
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.is_correct {
  margin-top: 15px;
}

.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.expansion {
  text-align: center;
  margin-top: 20px;
  text-decoration: none;

  .icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-right: 5px;
  }

  .photo {
    position: relative;
    display: inline-block;
    padding-top: 3px;
    margin-top: 20px;
    vertical-align: middle;
    text-decoration: none;
  }
}

