@charset "utf-8";
// @import (less) "../bower_components/colorbox/example1/colorbox.css";

.disabled{
  visibility : hidden;
}

ul.pagination {
  margin-bottom: 20px;
  list-style: none;
  padding: 10px;

  li{
    display: inline-block;

    a {
      color: #555;
      margin: 5px;
      padding: 3px 10px;
      border: solid 1px;
      border-radius: 5px;
      text-decoration: none;
      line-height: 2;

    }
    a:hover{
      background-color: #ffe8e0;
      border-color: #fff
    }
    a.blank{
      width: 300px;
      height: 300px;
    }
  }
}
