@charset "utf-8";
// @import (less) "../bower_components/colorbox/example1/colorbox.css";
.photos {
  margin: 0 auto;

  .photo {
    @padding: 8px;
    background: #FFFFFF;
    color: #80CA9F;
    margin-bottom: @padding;
    .photo-description { padding: 0 @padding @padding @padding; }
  }
}
