@charset "utf-8";
@import "helpers";

.coloring {
  .cf;

  &_square {
    height   : 206.533px;
    margin   : 0 auto;
    position : relative;
    width    : 206.533px;

    &:hover { background : #de6bb1; }

    p {
      margin  : 0;
      padding : 2px;

      img {
        display : block;
        height  : 202.533px;
        width   : 202.533px;
      }
    }
  }

  &_img {
    img {
      display : block;
      margin  : 0 auto;
      width   : 380px;
    }
  }
}

@media screen and (min-width: @width-phone) {
  .coloring {
    &_square { float : left; }
  }
}

@media screen and (min-width: @width-tablet) {
  .coloring {
    &_square { float : left; }
  }
}
