@charset "utf-8";
@import "helpers";

.playMenu {
  margin: 0 auto;
  width: 95%;

  .playMenu-back {
    width: 100%;

    .playMenu-front {
      margin: 0 auto;
      border-radius: 240px;
      width: 240px;
      height: 240px;
      box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
      -moz-transition: -moz-transform 2s linear;
      -webkit-transition: -webkit-transform 2s linear;
      -o-transition: -o-transform 2s linear;
      -ms-transition: -ms-transform 2s linear;

      &:hover {
        -moz-transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
      }

      p {
        line-height: 240px;
        font-size: 25px;
        text-align: center;

        a {
          display: block;
          color: #fff;
          text-decoration: none;
          text-shadow: 1px 1px 3px #000;  
        }
      }
    }

    &:nth-child(1) .playMenu-front {
      background: radial-gradient(at 30% 30%, #7f7fff, #9999ff);
    }

    &:nth-child(2) .playMenu-front {
      background: radial-gradient(at 30% 30%, #ffff7f, #ffff99);
    }

    &:nth-child(3) .playMenu-front {
      background: radial-gradient(at 30% 30%, #ff7f7f, #ff9999);
    }
  }
}

@media screen and (min-width: 1140px) {
  .playMenu .playMenu-back {
      width: 25%;
      float: left;
  }
}
