@charset "utf-8";
@import "helpers";

.play-menu {
  .clear-fix;

  .play-menu-circle {
    border-radius: 50%;
    background: #cc99ff;
    box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);

    p {
      margin: 5px;
      border-radius: 50%;
      line-height: 240px;
      background: radial-gradient(#ffffff, #ff99ff);
      box-shadow: 0 0 4px 4px rgba(0,0,0,0.4) inset;
      font-size: 20px;
      text-align: center;

      a {
        display: block;
        color: #460e44;
        text-decoration: none;
        text-shadow: 2px 2px 5px #999999;
      }

      &:hover {
        background: radial-gradient(#ff99ff, #ffffff);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .play-menu {
    .play-menu-circle {
      float: left;
      width: 50%;
    }
  }
}

@media screen and (min-width: 1140px) {
  .play-menu {
    .play-menu-circle {
      float: left;
      width: 25%;
    }
  }
}
