@charset "utf-8";
@import "helpers";

.playMenu {
  .cf;
  margin-bottom: 30px;

  &_circle {
    padding       : 2px;
    height        : 199px;
    width         : 199px;
    margin: 0 auto;

    p {
      background    : #cc99ff;
      padding       : 2px;
      width         : 187px;
      height        : 187px;
      border-radius : 187px;
      text-align    : center;
      text-indent   : 0;

      a {
        background      : #de6bb1;
        border          : solid 6px #cc99ff;
        border-radius   : 175px;
        box-shadow      : 0 0 8px 0 rgba(0,0,0,0.4);
        color           : #fbfaf5;
        display         : block;
        width           : 175px;
        height          : 175px;
        line-height     : 175px;
        text-decoration : none;

        &:hover {
          background : #de98b2;
          color      : #fbfaf5;
        }
      }
    }
  }
}


@media screen and (max-width : 768px){
  .playMenu {
    text-align: center;
    margin: 0 auto 30px;
    &_circle {
     display: inline-block;
    }
  }
}
@media screen and (min-width : 768px) and (max-width:1280px){
  .playMenu {
    max-width: 600px;
    text-align: center;
    margin: 0 auto 30px;
    &_circle {
      display: inline-block;
    }
  }
}
@media screen and (min-width : 1280px) {
  .playMenu {
    max-width: 1280px;
    text-align: center;
    &_circle {
      display: inline-block;
    }
  }
}
