<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8"/>
  <title>{{ title }} | Ranyuen admin</title>
  <link rel="home" href="/admin/"/>
  <link rel="stylesheet" href="/assets/stylesheets/admin_editor.css"/>
</head>
<body>
  <header>
    <span><a href="/admin/">Admin</a></span>
    <span>{{ admin_username }}</span>
    <span><a href="/admin/logout">Logout</a></span>
  </header>
  <a id="down" href="#last">DOWN</a>
  <p id="first"></p>
  <div>{{ content | raw }}</div>
  <p id="last"></p>
  <a id="up" href="#first">UP</a>
</body>
</html>
<!-- vim:ft=twig: -->
