<nav id="globalnav">
  <ul>
    <li>
      <a href="#">蘭裕園</a>
      <ul>
        <li><a href="/">蘭裕園</a></li>
        <li><a href="/about_us/">蘭裕園のご紹介</a></li>
        <li><a href="/about_us/how_to_buy">ご購入をご希望の方へ</a></li>
        <li><a href="/news/">おしらせ</a></li>
      </ul>
    </li>
    <li><a href="/calanthe/">エビネを極める</a></li>
    <li><a href="/ponerorchis/">ウチョウランを極める</a></li>
    <li><a href="/columns/">コラム</a></li>
    <li><a href="/photos/">写真を見る</a></li>
    <li><a href="/play/">蘭花で遊ぶ</a></li>
  </ul>
</nav>
